{% extends 'base.html.twig' %}

{% block body %}
<br>
<div style='width:60%;margin-left:20%'>
	<h1>Ajouter une conversation</h1>
	<br>
	<a  href="{{ path('homepage') }}"  class="btn btn-success">Retour</a>
	<br><br><br><br>

	{{ form_start(form) }}

          {{ form_row(form.name) }}
          <br>
          <h4>Sélectionner les copropriétaires</h4>
          (Si vous ne sélectionnez aucun copropriétaire ils seront tous sélectionné par défaut !)
          <br><br><br>
          {% for user in users %}
          <div>

		    <input type="checkbox" id="" name="check_list[]" value='{{ user.id }}'>
		    <label for="subscribeNews">{{ user.username }}</label>
		  </div>
		  {% endfor %}


          <button type="submit"  method='POST' class="btn btn-info">Ajouter</button>

    {{ form_end(form) }}

  <br>
        
       
	</div>
{% endblock %}













