{% extends 'base.html.twig' %}

{% block body %}
<br>
<div style='width:60%;margin-left:20%'>
	<h1>{{ name }}</h1>
	
	<a  href="{{ path('homepage') }}"  class="btn btn-success">Retour</a>
	<br><br><br>
		
		{% for message in messages %}
		 	{% if(message.idUser == idUser)  %}
		 	<p class="speech-bubble" id='my_message'>
		        {{ message.date | date }}
		        <b>{{ message.message }}</b><br>
		        <i>Signé :</i> {{ message.username }}
		    </p>
		    {% else %}
		    <p class="speech-bubble-autre" id='autre_message'>
		    	 {{ message.date | date }}
		        <b>{{ message.message }}</b><br>
		        <i>Signé :</i> {{ message.username }}
		    </p>
		    {% endif %}
		    <br><br><br><br><br><br>
	    {% endfor %}

	{{ form_start(form) }}

          {{ form_row(form.message) }}
          <button type="submit"  method='POST' class="btn btn-info">Envoyer</button>

    {{ form_end(form) }}

  <br>
        
       
	</div>


<style>

.speech-bubble-autre { float: left; padding: 3%; position: relative; background: #c0c0c0; border-radius: .4em; } 

.speech-bubble-autre:after { content: ''; position: absolute; right: 0; top: 50%; width: 0; height: 0; border: 1.281em solid transparent; border-left-color: #c0c0c0; border-right: 0; border-bottom: 0; margin-top: -0.641em; margin-right: -1.281em; }



.speech-bubble { float: right; padding: 3%; position: relative; background:  #80ff00 ; border-radius: .4em; } 

.speech-bubble:after { content: ''; position: absolute; left: 0; top: 50%; width: 0; height: 0; border: 1.281em solid transparent; border-right-color:   #80ff00; border-left: 0; border-bottom: 0; margin-top: -0.641em; margin-left: -1.281em; }


</style>


{% endblock %}













