{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des versements</h1>
    
    <br>
	<a href="{{ path('versement_new') }}" class="btn btn-success btn-success"><span class="glyphicon glyphicon-pencil"></span> Ajouter un versement</a>
    <br><br>

    <table class="table table-dark">
        <thead>
            <tr>
                <th>Montant</th>
                <th>Date</th>
                <th>Type</th>
                <th>Copropriétaire</th>
                <th>Charge correspondante</th>
                <th>Pièce Jointe</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for versement in versements %}
            <tr>
                <td>{{ versement.montant }} €</td>
                <td>{% if versement.date %}{{ versement.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ versement.type }}</td>
                <td>{{ versement.proprietaire.username }}</td>
                <td> <a href="{{ path('charges') }}">{{ versement.charges.titre }}</a></td>
                <td>
                    {% if(versement.piecesJointes) is null %}
                        <a href="{{ path('addPieceJointeVersement', {'id':  versement.id }) }}" class="btn btn-primary btn-primary"><i class="fa fa-fw fa-plus"></i></span>Ajouter une pièce jointe
                    {% else %}
                        <a href="{{ asset('uploads/VersementPieceJointe/' ~ versement.piecesjointes) }}">Voir la pièce jointe</a>
                        <a href="{{ path('deletePieceJointeVersement', {'id':  versement.id }) }}" class="btn btn-warning btn-warning"><i class="fa fa-fw fa-trash"></i></span>Supprimer la pièce jointe
                    {% endif %}
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('versement_show', { 'id': versement.id }) }}">Consulter</a>
                        </li>
                        <li>
                            <a href="{{ path('versement_edit', { 'id': versement.id }) }}">Editer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul>
       
    </ul>
{% endblock %}