{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des versements</h1>
    
    <br>
	<a href="{{ path('versement_new') }}" class="btn btn-success btn-success"><span class="glyphicon glyphicon-pencil"></span> Ajouter un versement</a>
    <br><br>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Montant</th>
                <th>Date</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for versement in versements %}
            <tr>
                <td><a href="{{ path('versement_show', { 'id': versement.id }) }}">{{ versement.id }}</a></td>
                <td>{{ versement.montant }}</td>
                <td>{% if versement.date %}{{ versement.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ versement.type }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('versement_show', { 'id': versement.id }) }}">Consulter</a>
                        </li>
                        <li>
                            <a href="{{ path('versement_edit', { 'id': versement.id }) }}">Editer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul>
       
    </ul>
{% endblock %}