{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des projets en cours</h1>
    <br>
	<a href="{{ path('projet_new') }}" class="btn btn-success btn-success"><span class="glyphicon glyphicon-pencil"></span> 	Créer un nouveau projet</a>
        <br><br>

    <table class="table table-dark">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Statut</th>
                <th>Date d'ouverture</th>
                <th>Date de cloture</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for projet in projets %}
            <tr>
                <td>{{ projet.nom }}</td>
                <td>{{ projet.description }}</td>
                <td>{{ projet.statut }}</td>
                <td>{% if projet.dateOuverture %}{{ projet.dateOuverture|date('Y-m-d') }}{% endif %}</td>
                <td>{% if projet.dateCloture %}{{ projet.dateCloture|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('projet_show', { 'id': projet.id }) }}">Consulter</a>
                        </li>
                        <li>
                            <a href="{{ path('projet_edit', { 'id': projet.id }) }}">Editer</a>
                        </li>
                        <li>
                            <a href="{{ path('projet_delete', { 'id': projet.id }) }}">Supprimer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}