{% extends 'base.html.twig' %}

{% block body %}

<h1>Créer une nouvelle charge</h1>
<br>

    {{ form_start(form) }}
      {{ form_row(form.titre) }}
      {{ form_row(form.montant) }}
      {{ form_row(form.dateEcheance) }}
      {{ form_row(form.statut) }}
      
      <button type="submit"  method='POST' class="btn btn-info">Ajouter</button>
  

    {{ form_end(form) }}


{% endblock %}




