{% extends 'base.html.twig' %}

{% block body %}



	<h3>Voiçi la liste des charges :</h3><br>
	<a href="{{ path('AddCharge') }}" class="btn btn-success btn-success"><span class="glyphicon glyphicon-pencil"></span> 	Créer une nouvelle charge</a>
	<br><br>
	<table class="table table-dark" >
		<tr>
			<th>Titre </th>
			<th>Montant</th>
			<th>Date Echéance </th>
			<th>Copropriétaire </th>
			<th>Statut</th>
			<th>Pièce jointe </th>
                        {% if is_granted('ROLE_ADMIN') %}
                            <th></th>                        
                        {% endif %}
		</tr>

	    {% for charge in charges %}
	    <tr>
	        <td>{{ charge.titre }}</td>
	        <td>{{ charge.montant }} €</td>
	        <td>{{ charge.dateEcheance | date("m/d/Y")  }} </td>
                <td>{% for copro in charge.copropritaires %}
                    {{ copro.username }}<br>
                    {% endfor %}
                </td>
	        <td>
                    {% if(charge.statut) == 1 %}
                        Payé
                    {% else %}
                        Non payé
                    {% endif %} 
                </td>
                <td>
                    
                    {% if(charge.piecejointe) is null %}
                        <a href="{{ path('addPieceJointe', {'id_charge':  charge.id }) }}" class="btn btn-primary btn-primary"><i class="fa fa-fw fa-plus"></i></span>Ajouter une pièce jointe
                    {% else %}
                        <a href="{{ asset('uploads/piecesJointes/' ~ charge.piecejointe) }}">Voir la pièce jointe</a>
                        <a href="{{ path('deletePieceJointe', {'id_charge':  charge.id }) }}" class="btn btn-warning btn-warning"><i class="fa fa-fw fa-trash"></i></span>Supprimer la pièce jointe
                    {% endif %}
                </td>
	        
                {% if is_granted('ROLE_ADMIN') %}
			<td><a href="{{ path('archiveCharge', {'id_charge':  charge.id }) }}" class="btn btn-primary btn-danger"><i class="fa fa-fw fa-trash-o"></i></span>Archiver                        
                {% endif %}
	    </tr>
	    {% endfor %}
	</table>

{% endblock %}













