{% extends 'base.html.twig' %}

{% block body %}



	<h3>Voiçi la liste des charges :</h3><br>
	<a href="{{ path('AddCharge') }}" class="btn btn-success btn-success"><span class="glyphicon glyphicon-pencil"></span> 	Créer une nouvelle charge</a>
	<br><br>
	<table class="table table-dark" >
		<tr>
			<th>Titre </th>
			<th>Montant</th>
			<th>Date Echéance </th>
			<th>Copropriétaire </th>
			<th>Statut</th>
			<th>Pièce jointe </th>
			<th>Contrat  </th>
		</tr>

	    {% for charge in charges %}
	    <tr>
	        <td>{{ charge.titre }}</td>
	        <td>{{ charge.montant }} €</td>
	        <td>{{ charge.dateEcheance | date("m/d/Y")  }} </td>
	        <td>{{ charge.copropritaires }}</td>
	        <td>{{ charge.statut }}</td>
	        <td>{{ charge.pieceJointe }}</td>
	        <td>{{ charge.idContrat }}</td>
	    </tr>
	    {% endfor %}
	</table>

{% endblock %}













